<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-button (click)="addItem()" slot="secondary">
      <ion-icon icon-only name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let receipt of receipts">
    <ion-card (click)="goToDetails(receipt)">
      <ion-card-header>
        <ion-card-title>{{receipt.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-thumbnail slot="start">
          <ion-img [src]="receipt.imageURL"></ion-img>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>